# Data Science Tools and Ecosystem

## Author
Jeffrey

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. SQL

Some of the commonly  used libraries used by Data Scientists include:
1. caret
2. panda
3. numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335